p {
    font-family: Lato;
  }
  
  /* #root {
    //padding-left: 30px;
  } */
  .header-color{
    background: rgb(48 20 244);
  }

  .application-label{
    margin-top:110px;
  }
  .register-form {
    max-width: 350px;
    
  }
  